#Chain or clinic
DB_HOST=127.0.0.1
DB_USER=postgres
DB_PASS=1
DATABASE=chain
DB_PORT=5432
NAME_OF_CENTER=chain
EVERY_FEW_SECONDS=20

IS_SCP=false
IS_CLINIC=false
PORT=3000
SENT_DIRECTORY=sent/
RECEIVED_INSERT_DIRECTORY=received_insert/
RECEIVED_SYNC_DIRECTORY=received_sync/




#for each clinic or chain please define
#CHAIN
CHAIN_HOST=192.168.1.222
CHAIN_USER=root
CHAIN_PORT=22
CHAIN_PASSWORD=12345
CHAIN_DIRECTORY=/server/sync-inventory-chain

#AMOL
AMOL_HOST=192.168.1.223
AMOL_USER=root
AMOL_PORT=22
AMOL_PASSWORD=12345
AMOL_DIRECTORY=/server/sync-inventory-amol

#FARDIS
FARDIS_HOST=192.168.1.223
FARDIS_USER=root
FARDIS_PORT=22
FARDIS_PASSWORD=12345
FARDIS_DIRECTORY=/server/sync-inventory-fardis

#GOLSHAHR
GOLSHAHR_HOST=192.168.1.224
GOLSHAHR_USER=root
GOLSHAHR_PORT=22
GOLSHAHR_PASSWORD=12345
GOLSHAHR_DIRECTORY=/server/sync-inventory-golshahr


#MOHAMMADSHAHR
MOHAMMADSHAHR_HOST=192.168.1.225
MOHAMMADSHAHR_USER=root
MOHAMMADSHAHR_PORT=22
MOHAMMADSHAHR_PASSWORD=12345
MOHAMMADSHAHR_DIRECTORY=/server/sync-inventory-mohammadshahr

#BEHAFARIN
BEHAFARIN_HOST=192.168.1.226
BEHAFARIN_USER=root
BEHAFARIN_PORT=22
BEHAFARIN_PASSWORD=12345
BEHAFARIN_DIRECTORY=/server/sync-inventory-behafarin


